/*
	Example Styling for Useful Functions
*/
/* line 7, ../../src/scss/useful-requests.scss */
.useful-tests dt {
  font-weight: bold;
  display: block;
  margin: 0;
  padding: 0;
}
/* line 13, ../../src/scss/useful-requests.scss */
.useful-tests dd {
  display: block;
  margin: 0 0 1.3em 0;
  padding: 0;
}

/* line 19, ../../src/scss/useful-requests.scss */
#position-test {
  border: solid 1px #333;
  height: 64px;
  line-height: 2;
  overflow-y: scroll;
  padding: 1em;
  width: auto;
}

/* line 27, ../../src/scss/useful-requests.scss */
#interaction-test {
  border: solid 1px #333;
  height: 64px;
  width: auto;
}

/* line 32, ../../src/scss/useful-requests.scss */
#css-test {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  border: solid 1px #333;
  height: 100px;
  left: 0;
  width: 100px;
  position: relative;
}
/* line 39, ../../src/scss/useful-requests.scss */
#css-test.big {
  height: 150px;
  width: 150px;
}
/* line 43, ../../src/scss/useful-requests.scss */
#css-test.small {
  height: 50px;
  width: 50px;
}
