@import "compass/css3";
@import "compass/utilities";
/*
	Example Styling for Useful Functions
*/
.useful-tests {
	dt {
		font-weight : bold;
		display : block;
		margin : 0;
		padding : 0;
	}
	dd {
		display : block;
		margin : 0 0 1.3em 0;
		padding : 0;
	}
}
#position-test {
	border : solid 1px #333;
	height : 64px;
	line-height : 2;
	overflow-y : scroll;
	padding : 1em;
	width : auto;
}
#interaction-test {
	border : solid 1px #333;
	height : 64px;
	width : auto;
}
#css-test {
	@include transition(all ease 500ms);
	border : solid 1px #333;
	height : 100px;
	left : 0;
	width : 100px;
	position : relative;
	&.big {
		height : 150px;
		width : 150px;
	}
	&.small {
		height : 50px;
		width : 50px;
	}
}
